In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
df = pd.read_csv('sample data//insurance.csv')
df

      age     sex   bmi  children smoker     region  expenses
0      19  female  27.9         0    yes  southwest  16884.92
1      18    male  33.8         1     no  southeast   1725.55
2      28    male  33.0         3     no  southeast   4449.46
3      33    male  22.7         0     no  northwest  21984.47
4      32    male  28.9         0     no  northwest   3866.86
...   ...     ...   ...       ...    ...        ...       ...
1333   50    male  31.0         3     no  northwest  10600.55
1334   18  female  31.9         0     no  northeast   2205.98
1335   18  female  36.9         0     no  southeast   1629.83
1336   21  female  25.8         0     no  southwest   2007.95
1337   61  female  29.1         0    yes  northwest  29141.36

[1338 rows x 7 columns]

In [3]:
df.tail(5)

      age     sex   bmi  children smoker     region  expenses
1333   50    male  31.0         3     no  northwest  10600.55
1334   18  female  31.9         0     no  northeast   2205.98
1335   18  female  36.9         0     no  southeast   1629.83
1336   21  female  25.8         0     no  southwest   2007.95
1337   61  female  29.1         0    yes  northwest  29141.36

In [4]:
df.head()

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   expenses  1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [6]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
expenses    0
dtype: int64

In [7]:
df.describe()

               age          bmi     children      expenses
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.665471     1.094918  13270.422414
std      14.049960     6.098382     1.205493  12110.011240
min      18.000000    16.000000     0.000000   1121.870000
25%      27.000000    26.300000     0.000000   4740.287500
50%      39.000000    30.400000     1.000000   9382.030000
75%      51.000000    34.700000     2.000000  16639.915000
max      64.000000    53.100000     5.000000  63770.430000

In [8]:
df.describe(include='all')

,age,sex,bmi,children,smoker,region,expenses
count,1338.000000,1338,1338.000000,1338.000000,1338,1338,1338.000000
unique,NaN,2,NaN,NaN,2,4,NaN
top,NaN,male,NaN,NaN,no,southeast,NaN
freq,NaN,676,NaN,NaN,1064,364,NaN
mean,39.207025,NaN,30.665471,1.094918,NaN,NaN,13270.422414
std,14.049960,NaN,6.098382,1.205493,NaN,NaN,12110.011240
min,18.000000,NaN,16.000000,0.000000,NaN,NaN,1121.870000
25%,27.000000,NaN,26.300000,0.000000,NaN,NaN,4740.287500
50%,39.000000,NaN,30.400000,1.000000,NaN,NaN,9382.030000
75%,51.000000,NaN,34.700000,2.000000,NaN,NaN,16639.915000
max,64.000000,NaN,53.100000,5.000000,NaN,NaN,63770.430000

In [9]:
df.shape

(1338, 7)

In [10]:
df = df.drop_duplicates()
df.shape

(1337, 7)

In [11]:
df['sex']  = df.sex.map({'female':0, 'male':1})
df.head()

C:\Users\Ankush Gupta\AppData\Local\Temp\ipykernel_8188\3327486697.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sex']  = df.sex.map({'female':0, 'male':1})

   age  sex   bmi  children smoker     region  expenses
0   19    0  27.9         0    yes  southwest  16884.92
1   18    1  33.8         1     no  southeast   1725.55
2   28    1  33.0         3     no  southeast   4449.46
3   33    1  22.7         0     no  northwest  21984.47
4   32    1  28.9         0     no  northwest   3866.86

In [12]:
df['smoker']  = df.smoker.map({'yes':1, 'no':0})
df.head()

C:\Users\Ankush Gupta\AppData\Local\Temp\ipykernel_8188\854343630.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['smoker']  = df.smoker.map({'yes':1, 'no':0})

   age  sex   bmi  children  smoker     region  expenses
0   19    0  27.9         0       1  southwest  16884.92
1   18    1  33.8         1       0  southeast   1725.55
2   28    1  33.0         3       0  southeast   4449.46
3   33    1  22.7         0       0  northwest  21984.47
4   32    1  28.9         0       0  northwest   3866.86

In [13]:
df.region.unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [14]:
df['region']  = df.region.map({'southwest':1, 'southeast':2,'northwest':3, 'northeast':4})
df.head()

C:\Users\Ankush Gupta\AppData\Local\Temp\ipykernel_8188\577266741.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['region']  = df.region.map({'southwest':1, 'southeast':2,'northwest':3, 'northeast':4})

   age  sex   bmi  children  smoker  region  expenses
0   19    0  27.9         0       1       1  16884.92
1   18    1  33.8         1       0       2   1725.55
2   28    1  33.0         3       0       2   4449.46
3   33    1  22.7         0       0       3  21984.47
4   32    1  28.9         0       0       3   3866.86

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1337 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1337 non-null   int64
 1   sex       1337 non-null   int64
 2   bmi       1337 non-null   float64
 3   children  1337 non-null   int64
 4   smoker    1337 non-null   int64
 5   region    1337 non-null   int64
 6   expenses  1337 non-null   float64
dtypes: float64(2), int64(5)
memory usage: 83.6 KB

###  split data set

In [16]:
x = df.drop(['expenses'],axis=1)
y = df.expenses

In [17]:
x

      age  sex   bmi  children  smoker  region
0      19    0  27.9         0       1       1
1      18    1  33.8         1       0       2
2      28    1  33.0         3       0       2
3      33    1  22.7         0       0       3
4      32    1  28.9         0       0       3
...   ...  ...   ...       ...     ...     ...
1333   50    1  31.0         3       0       3
1334   18    0  31.9         0       0       4
1335   18    0  36.9         0       0       2
1336   21    0  25.8         0       0       1
1337   61    0  29.1         0       1       3

[1337 rows x 6 columns]

In [18]:
y

0       16884.92
1        1725.55
2        4449.46
3       21984.47
4        3866.86
          ...
1333    10600.55
1334     2205.98
1335     1629.83
1336     2007.95
1337    29141.36
Name: expenses, Length: 1337, dtype: float64

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state = 42)

In [21]:
len(x_train),len(x_test),len(y_train),len(y_test)

(1069, 268, 1069, 268)

### model taining

In [22]:
from sklearn.linear_model import LinearRegression

In [23]:
lr = LinearRegression()

In [24]:
lr.fit(x_train,y_train)

LinearRegression()

In [25]:
y_pred = lr.predict(x_test)
y_pred

array([ 8072.77333136,  5592.82603094, 14384.17365357, 31735.18497279,
        9163.15445161, 13358.86578639, 30267.79301219,  1307.14626962,
       10837.52227452, 11378.08216345, 10481.9795931 , 33165.50212636,
       30902.31030583, 17170.42770672, 10639.30221088,  9373.52114027,
        3965.78326163, 31922.61669292,  3083.43008499,  5478.2908783 ,
        3768.79209124, 30145.45747804, 15085.43266089, 30272.78470105,
       31073.26344241,  5511.72642928, 35676.06521615, 36369.47260593,
       11303.55006677, 14059.85131764,  6385.6812435 , 12948.0086093 ,
         671.52362231, 11945.97678483, 39781.71547991, 12151.88610996,
        4578.39258092,  4030.4515369 , 31143.32627086,  9237.57352209,
        6868.59840506, 30018.40559654, 34982.95614154, 12170.35579353,
        7475.76456343,  3268.79442269,  6030.06439313,  8816.86705659,
        4309.69305436,  9244.83563575,  6827.61090228, 11904.39528442,
       31141.89170694,  3762.74043604, 10848.3415131 ,  9988.00272542,
       10731.3794283 ,  2499.89346307, 31364.10089749,  9448.08807455,
       15778.97736036,  8409.68397315, 12628.18639592,  1488.10897795,
       16754.17203391, 10643.21282954, 10438.32676773, 30576.85379386,
       24575.9047805 , 16445.32743628,  7367.45584158,  2839.2907137 ,
        7055.29860621,   -40.55462361, 11598.52622925, -1222.14150428,
       16882.83719746,  8847.29222751,  7619.02362511, 12717.07845768,
        5768.79120172, 18717.60167379, 15344.77442898, 11178.24296906,
       36332.9194974 , 13406.2236005 ,  4285.24986781,  2579.73141099,
        6490.20288625,  4289.97413657, 15253.01586769, 28239.16263716,
        5371.98965491,  3085.69466109,  1999.91427005, 35747.71441486,
       14536.16423044,  9112.44514251,  4416.62315373,  8615.99010662,
       13851.48437256, 14958.95841934, 32403.33102779, 14369.16052902,
       32736.1811144 ,   154.13921018, 30967.88487568, 26585.59480223,
       13937.47246887,  5851.18148678,  8378.02990899, 11643.97901698,
        8354.56061514, 10113.21717865,  5962.126754  ,  5571.01938976,
        2008.50377014,  3265.26819284,  7199.20896194,  9328.00656238,
       36214.03602415,  8065.82143757, 11768.41282865,  9409.99796638,
        9070.00273484,  9473.44997523,  4500.65291052, 12227.85671309,
       29967.4230594 , 38748.40156055, 36035.82077391, 12120.29777848,
        2628.98183193, 11539.02365556, 10213.82421947,  5383.8176238 ,
       34904.23410141, 29795.24098883, 25526.33947681,  5076.55752661,
        6583.95254318,  5679.13486047, 36670.23300352, 10789.38170538,
        5705.27159476,  8194.63840307, 10408.72766646,  8314.83290068,
       35196.56129899, 14309.42402226,  9640.47401762,  6753.89881926,
        6914.77271326, 16571.50599099,  7209.97882991, 26602.61165363,
       36447.11963185, 16503.60903815, 10139.04369308, 11118.29684909,
       12607.1255587 ,  4125.76722311, 12834.21926061, 13583.46890056,
       35697.80028033, 33198.93767734, 13076.95496306, 25415.04071587,
        2515.82530175,  1992.06850121,  4956.00347928,  5210.80973161,
        5135.91808521, 10029.9910327 , 10076.74035254, 26356.52636236,
        2249.79905996, 10827.2497808 ,  6965.00944644, 12023.8458435 ,
       14954.60611984,  5095.15867117, 11167.22653681, 10143.95909952,
       33038.72956965, 10923.00109187,  7063.48735542,  5687.07517998,
         473.01181434, 31319.92823905,  8084.03819332, 32767.55585378,
       12546.08200648,  6224.4992431 ,  1650.57110763,  2264.24115615,
       32641.94251948,  4869.51987415, 13446.22665646, 17355.17749415,
       26364.90438381, 25996.08675004,  6778.82509509, 12374.65840744,
       28297.35816538,  7766.96156823, 10330.03838685, 10096.05059802,
        3219.75361495, 34490.04581104, 31401.57852811,  9693.41095175,
        6066.56813105,  7705.38369068, 11059.25888915,  4929.27087754,
        5099.72058388, 11909.47304691,  9303.9353451 ,  2901.85490349,
        4111.21214147, 37731.21857972, 37268.41078073, 13129.76250893,
       10975.71599325, 37946.09594503, 34282.01786743,  7056.15553018,
       26854.25758938,  4144.18964954, 15930.17276266, 29276.69154633,
        5810.8925352 ,  9247.61606164,  8748.81431853,  9213.26179653,
        9594.92062323,  4491.32154899,  5719.27993153,  4825.92879818,
        6095.2630512 ,  4804.52688677,  5853.54455607,  8678.42490815,
        1217.73043666,  8500.84247643,  3656.74939177, 10728.92371453,
        2557.75185963, 10323.61476238,  3916.71155882, 11822.03191115,
       12098.19731587, 14389.46102927, 36989.92562134, 23131.68829671,
       10068.71395938,  7801.38343145,  9239.35500891, 12393.52040125,
       29374.47277392, 38072.74496218, 14980.22886977, 16959.4406191 ,
       15496.75445173,  6310.85930867, 38247.54696802,  8238.27673618])

In [26]:
from sklearn.metrics import r2_score
score1 = r2_score(y_test,y_pred)
score1

0.8068280291899952

In [27]:
lr.score(x_test,y_test)

0.8068280291899952

In [28]:
from sklearn.svm import SVR
svm = SVR()

In [29]:
svm.fit(x_train,y_train)

SVR()

In [30]:
y_pred = svm.predict(x_test)
from sklearn.metrics import r2_score
score1 = r2_score(y_test,y_pred)
score1

-0.1344469486786597

In [31]:
svm.score(x_test,y_test)

-0.1344469486786597

In [32]:
from sklearn.ensemble import RandomForestRegressor
re = RandomForestRegressor()
re

RandomForestRegressor()

In [33]:
re.fit(x_train,y_train)

RandomForestRegressor()

In [34]:
re.score(x_test,y_test)

0.8808911907000323

In [35]:
import joblib
joblib.dump(re,'random_forest_regression')

['random_forest_regression.joblib']

In [36]:
import pickle

with open('model_pickle','wb') as f:
    pickle.dump(re,f)